# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore instance files and environment configuration
instance/
.env  # Local environment configuration file
.env.local  # Local overrides for environment variables
